@use "sass:color"; // Import the color module
@use "./theme" as *; // Import theme variables with a namespace
@use "./mixins" as *; // Import mixins with a namespace

.sidebar {
  // width: 300px; // Uncomment if needed
  // height: 100vh;
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;

  @include slim-scrollbar; // Apply the slim scrollbar styles

  .logo-link {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  .logo {
    height: 50px;
    margin-right: 15px;
  }

  .sidebar-footer {
    padding: 1rem;
    border-top: 1px solid #e9ecef; /* Subtle border on top */
    margin-top: auto;
    padding-bottom: 0;
  }

  .footer-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    // color: #333; /* Text color */
  }
  .link {
    text-decoration: none;
    color: $light-text-color;
  }

  &.dark-theme {
    background-color: $dark-background-color;
    color: $dark-text-color;

    .nav-link {
      color: $dark-text-color;

      &:hover {
        background-color: color.scale($dark-background-color, $lightness: -13%);
      }

      &.active-link {
        background-color: $dark-primary-color !important;
      }
    }
    .footer-item {
      &:hover {
        background-color: color.scale($dark-background-color, $lightness: -13%);
      }
    }
  }

  &.light-theme {
    background-color: $light-primary-color;
    color: $light-text-color;

    .nav-link {
      color: $light-text-color;

      &:hover {
        color: color.scale($light-background-color, $lightness: 13%);
      }

      &.active-link {
        color: $light-background-color;
      }
    }
    .footer-item {
      &:hover {
        color: color.scale($light-background-color, $lightness: 13%);
      }
    }
  }
}

.nav {
  flex-direction: column;

  .nav-item {
    button {
      display: flex;
      align-items: center;
      width: 100%;
      background: none;
      border: none;
      color: inherit;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
