// Sidebar.scss
@import "./theme"; // Import theme variables

.sidebar {
  width: 300px;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;

  &.dark-theme {
    background-color: $dark-background-color;
    color: $dark-text-color;

    .nav-link {
      color: $dark-text-color;

      &:hover {
        background-color: darken($dark-background-color, 10%);
      }

      &.active-link {
        background-color: $dark-primary-color !important;
      }
    }
  }

  &.light-theme {
    background-color: $light-background-color;
    color: $light-text-color;

    .nav-link {
      color: $light-text-color;

      &:hover {
        background-color: lighten($light-background-color, 10%);
      }

      &.active-link {
        background-color: $light-primary-color !important;
        color: white;
      }
    }
  }
}

.nav {
  flex-direction: column;

  .nav-item {
    button {
      display: flex;
      align-items: center;
      width: 100%;
      background: none;
      border: none;
      color: inherit;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
