@use "sass:color";
@use "./form" as *; // Importing without a namespace
@use "./table" as *;
@use "./header" as *;
@use "./modal" as *;
@use "./sidebar" as *;
@use "./theme" as *;
@use "./dashboard" as *;

// Global styles can be added here as needed
body {
  background-color: $light-background-color-all; // Default to light theme background
  color: $text-color; // Default to light theme text color
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.btn {
  background-color: $primary-color; // Default to light theme primary color
  border: none;
  border-radius: $border-radius;
  padding: $padding;

  &:hover {
    background-color: color.scale($primary-color, $lightness: -13%);
  }
}

// Dark theme styles
.dark-theme {
  background-color: $dark-background-color; // Use dark theme variables
  color: $dark-text-color;

  .btn {
    background-color: $dark-primary-color; // Dark theme button color
    &:hover {
      background-color: color.scale($dark-primary-color, $lightness: -13%);
    }
  }

  // More dark theme styles...
}

.light-theme {
  color: black;

  .btn {
    background-color: $light-secondary-color; // Light theme button color
    color: #000;

    &:hover {
      background-color: color.scale($light-secondary-color, $lightness: -13%);
    }
  }

  .btn-danger {
    background-color: #dc3545; /* Bootstrap danger color */
    color: white;

    &:hover {
      background-color: color.scale(#dc3545, $lightness: -13%);
    }
  }
}
