// Import other SCSS files
@import "./form";
@import "./table";
@import "./header";
@import "./modal";
@import "./sidebar";
@import "./theme"; // Import theme variables

// Global styles can be added here as needed
body {
  background-color: $light-background-color-all; // Default to light theme background
  color: $text-color; // Default to light theme text color
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.btn {
  background-color: $primary-color; // Default to light theme primary color
  border: none;
  border-radius: $border-radius;
  padding: $padding;

  &:hover {
    background-color: darken($primary-color, 10%); // Adjust for hover
  }
}

// Dark theme styles
.dark-theme {
  background-color: $dark-background-color; // Use dark theme variables
  color: $dark-text-color;

  .btn {
    background-color: $dark-primary-color; // Dark theme button color
    &:hover {
      background-color: darken($dark-primary-color, 10%); // Darken on hover
    }
  }

  // More dark theme styles...
}

.light-theme {
  color: black;

  .btn {
    background-color: $light-secondary-color; // Dark theme button color
    color: #000;

    &:hover {
      background-color: darken($light-secondary-color, 10%); // Darken on hover
    }
  }
  .btn-danger {
    background-color: #dc3545; /* Bootstrap danger color */
    color: white;

    &:hover {
      background-color: darken(#dc3545, 10%); // Darken on hover
    }
  }
}
