@import "./theme"; // Import theme variables

.table-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  height: 86vh;

  .table-wrapper {
    flex-grow: 1; // Allow the wrapper to take remaining space
    overflow-y: auto; // Enable scrolling for overflowing content
  }

  .table-title {
    color: black;
  }

  &.light-theme {
    background-color: white;

    .table-head {
      th {
        background-color: $light-secondary-color;
      }
    }
  }
}
