@use "./theme" as *; // Import theme variables
@use "./mixins" as *; // Import mixins with a namespace

.table-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  height: calc(100vh - 30px);
  border-collapse: collapse;
  padding-bottom: 0;

  @include slim-scrollbar; // Apply the slim scrollbar styles

  .table-wrapper {
    flex-grow: 1; // Allow the wrapper to take remaining space
    overflow-y: auto; // Enable scrolling for overflowing content
    position: relative; // Necessary for absolute positioning of the table header
  }

  .table {
    width: 100%;
    table-layout: fixed; // Optional, for equal column widths
  }

  .table-head {
    position: sticky; // Stick header to the top
    top: 0;
    background-color: inherit; // Ensure background color is inherited
    z-index: 1; // Ensure header is above the body
  }

  .table-title {
    color: black;
  }
  .pagination {
    margin: 0;
  }

  .pagination button {
    margin: 0 0.5rem; /* Spacing between buttons */
    font-size: 0.875rem; /* Smaller text for pagination buttons */
  }

  .total-count {
    font-size: 0.875rem; /* Smaller text for total count */
  }

  // Style for table cells
  td {
    text-align: left;
    padding: 0 0.5rem; // Add padding to cells
    overflow: hidden; // Prevent overflow
    text-overflow: ellipsis; // Add ellipsis for overflow text
    white-space: nowrap; // Prevent text from wrapping
  }
  th {
    text-align: left;
    padding: 0 0.5rem; // Add padding to cells
    overflow: hidden; // Prevent overflow
    text-overflow: ellipsis; // Add ellipsis for overflow text
    white-space: nowrap; // Prevent text from wrapping
    background-color: #f7f7f7;
  }

  &.light-theme {
    background-color: white;

    // .table-head {
    //   th {
    //     background-color: $light-secondary-color; // Use variable from theme
    //   }
    // }
  }
}
